@import "bootstrap/scss/bootstrap-utilities";

$theme-colors: map-merge($theme-colors, $colors);
$theme-colors: map-remove($theme-colors, "white", "gray", "gray-dark", "black");

@import "bootstrap/scss/bootstrap";

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.shake {
    animation: shake 0.5s;
}
